@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="d-flex gap-4">
        <div class="w-25 bg-card p-3 rounded-3" style="border:1px solid black">
            <p class="d-inline">Totali pas barazimit te fundit</p>
            <div class="d-flex justify-content-between">
                <h2 class="py-1">1000€</h2>
            </div>
        </div>
        <div class="w-25 bg-card p-3 rounded-3" style="border:1px solid black">
            <p class="d-inline">Totali Besnikut</p>
            <div class="d-flex justify-content-between">
                <h2 class="py-1">300€</h2>
            </div>
        </div>
        <div class="w-25 bg-card p-3 rounded-3" style="border:1px solid black">
            <p class="d-inline">Totali Shkelzenit</p>
            <div class="d-flex justify-content-between">
                <h2 class="py-1">700€</h2>
            </div>
        </div>
    </div>

    <div >
        <h1 class="text-center my-5">Detajet</h1>

        <div class="d-flex justify-content-center gap-5">
            <div style="border:1px solid black">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Fatura
                            </th>
                            <th>
                                Shitesi
                            </th>
                            <th>
                                Totali
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                10
                            </td>
                            <td>
                                Selim
                            </td>
                            <td>
                                300€
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="border:1px solid black">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Fatura
                            </th>
                            <th>
                                Shitesi
                            </th>
                            <th>
                                Totali
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                11
                            </td>
                            <td>
                                Majlind
                            </td>
                            <td>
                                700€
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
